{% extends 'country/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title|capfirst }}</h1>

    <ul>
        {% for post in posts %}
            <li>
                <div class="article-panel">
                    <p class="first">Категория: {{ post.cat.name }}</p>
                    <p class="last">Дата: {{ post.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="width: 150px; height: auto; float: left; margin-right: 15px;">
                {% endif %}

                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p><a href="{{ post.get_absolute_url }}">Читать подробнее</a></p>
                {% if not forloop.last %}<hr>{% endif %}
            </li>

        {% endfor %}
    </ul>

    {% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
                <li class="page-num"><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
            {% endif %}

            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-num"><a href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-num"><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}


