<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        {% for item in menu %}
            <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li class="last"><a href="{% url 'users:profile' %}">{{ user.username }}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
        {% else %}
            <li class="last">
                <a href="{% url 'users:login' %}">Войти</a>
                <a href="{% url 'users:register' %}">Регистрация</a>
            </li>
        {% endif %}
    </ul>
</nav>