{% extends 'country/base.html' %}

{% block sidebar %}{% endblock %}

{% block content %}
<h1>Профиль пользователя</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% if profile_form.instance.photo %}
        <div class="profile-photo">
            <img src="{{ profile_form.instance.photo.url }}" alt="{{ user.username }}">
        </div>
    {% endif %}
    <p>
        <label class="form-label" for="{{ profile_form.photo.id_for_label }}">{{ profile_form.photo.label }}:</label>
        {{ profile_form.photo }}
    </p>
    <div class="form-error">{{ profile_form.photo.errors }}</div>
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Сохранить</button></p>
</form>
<hr>
<p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
{% endblock %}
